@mixin flex-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin custom-tabs {
  border-top: 2px solid $base-color;
  border-left: 2px solid $base-color;
  border-right: 2px solid $base-color;
  border-radius: 25px 25px 0 0;
}

.main {
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 125px;
  bottom: 50px;
  width: 100%;
  background-color: $base-color;
  border-radius: 25px;
}

.navigation {
  @include flex-align;
  background-color: #fff;

  a {
    color: $base-color;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    line-height: 50px;

    div {
      @include custom-tabs;
      height: 50px;
      width: 330px;
      background-color: #fff;
    }

    &.active_nav {
      color: #fff;

      div {
        background-color: $base-color;
      }
    }
  }
}

@mixin custom-log {
  font-size: 1em;
  font-weight: 700;
  border: transparent;
  border-radius: 50px;
  margin: 15px;
}

// login panel

.logpanel, .greeting {
  height: 100%;
  font-weight: 700;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 130px;

  h2, h4 {
    margin: 10px;
  }

  input[type="name"],
  input[type="password"] {
    padding: 10px 20px;
    @include custom-log;
  }

  input[type="checkbox"] {
    display: none;
  }

  label {
    color: lighten($base-color, 20%);
    margin: 15px;
    transition: color .2s ease-out;

    &:hover {
      color: #fff;
    }
  }

  .remember {
    color: #fff;
    margin: 15px;
  }

  .invalid {
    background-color: $warn-color;
    box-shadow: 0 0 0 1px #fff;

    &::placeholder {
      color: #fff;
    }
  }
}

// login panel end